<%
require_relative 'stock'
%>
<!doctype html>
<html>
<head>
<title>A Visual History of Railway Rolling Stock in Great Britain</title>
<script src="./web/leader-line.min.js"></script>
<script>var lines = {};</script>
</head>
<style>
html,body,svg { margin: 0; padding: 0; height: <%= (STOCK.map(&:y).max * 60 + 80) %>px;}
.year:nth-child(odd) { fill: white; }
.year:nth-child(even) { fill: #ddd; }

.year-labels {
    position: sticky;
    top: 0;
    z-index: 2;
}
.year-label:nth-child(odd) {
    background-color: white;
}
.year-label:nth-child(even) {
    background-color: #ddd;
}
.year-label {
    text-align: center;
    width: 100px;
    display: inline-block;
    margin: 0;
}
.stock {
    position: absolute;
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    height: 50px;
    color: inherit;
    text-decoration: none;
    display: block;
    z-index: 1;
}
* {
    font-family: sans-serif;
    box-sizing: border-box;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-head: 16px;
}
.icons img {
    max-width: 16px;
    max-height: 16px;
    vertical-align: middle;
    display: inline-block;
    justify-content: center;
    margin: 2px;
    min-width: 8px;
    flex-basis: 8px;
    flex-grow: 1;
    object-fit: contain;
}

.intro {
    position: absolute;
    left: 10px;
    top: 220px;
    width: 580px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    padding: 20px;
}

.intro h1, .intro p {
    margin: 0;
}
</style>
<body>
<div class="intro">
<h1>A Visual History of Railway Rolling Stock in Great Britain</h1>
<p>by <a href="https://gaelan.me">Gaelan Steele</a>, with help</p>
<p><a href="about.html">more info</a></p>
</div>
<div class="year-labels" style="width: <%= (END_YEAR-START_YEAR + 1) * 100 %>px;">
<% (START_YEAR..END_YEAR).to_a.each_with_index do |year, i|
    %><div class="year-label" style="left: <%= i * 100 %>px;"><%= year %></div><%
end %>
</div>
<svg width="<%= (END_YEAR-START_YEAR + 1) * 100 %>">
<% (START_YEAR..END_YEAR).to_a.each_with_index do |year, i| %>
<rect class="year" width="100" height="100%" x="<%= i * 100 %>" />
<% end %>
</svg>

<% STOCK.each do |stock| %>
<a
    href="https://en.wikipedia.org/wiki/<%=stock.wiki%>"
    class="stock"
    style="left: <%= (stock.built.begin - START_YEAR)*100 + 5%>px; top: <%= 20 + 60*stock.y %>px; width:<%= (stock.built.end - stock.built.begin + 1) * 100 - 10 %>px;"
    data-name="<%= stock.name %>"
>
    <div class="stock-label"><%= stock.name %></div>
    <div class="icons">
        <% stock.operators.each do |op, years| %>
            <img src="./web/icons/<%= op.to_s %>.png" title="<%= OPERATORS[op] %> (<%=years.begin%>-<%=years.end%>)" />
        <% end %>
    </div>
</div>
</a>
<% unless stock.based_on.empty? %>
<script>
<% stock.based_on.each do |other, opts| %>
lines["<%=stock.name %>_<%=other%>"] = new LeaderLine(
    <% if opts[:start_x] || opts[:start_y] %> 
        LeaderLine.pointAnchor( document.querySelector('[data-name="<%= other %>"]'), {
            x: <%= (opts[:start_x] || "50%").inspect %>,
            y: <%= (opts[:start_y] || "100%").inspect %>
        }),
    <% else %>
        document.querySelector('[data-name="<%= other %>"]'),
    <% end %>
    <% if opts[:end_x] %> 
        LeaderLine.pointAnchor( document.querySelector('[data-name="<%= stock.name %>"]'), {
            x: <%= opts[:end_x] %>,
            y: "0%"
        }),
    <% else %>
        document.querySelector('[data-name="<%=stock.name%>"]'), 
    <% end %>
    {
        color: "black",
        <% if opts[:start_socket] %> startSocket: "<%=opts[:start_socket].to_s%>", <% end %>
        <% if opts[:end_socket] %> endSocket: "<%=opts[:end_socket].to_s%>", <% end %>
        <% if opts[:start_socket_gravity] %> startSocketGravity: <%=opts[:start_socket_gravity ].to_s%>, <% end %>
        <% if opts[:end_socket_gravity] %> endSocketGravity: <%=opts[:end_socket_gravity ].to_s%>, <% end %>
    }
)
<% end %>
</script>
<% end %>
<% end %>
</body>
</html>
